* {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}
h1 {
    text-align: center;
    font-family: serif;
}

#twit-box {
    resize: none;
}

#twit-button:disabled {
    background-color: #eeeeee;
}
#twit-button:focus {
    outline: none;
}
::-moz-focus-inner {border: 0;}

.twit {
    background-color: #7ac3d7; 
    border: #D0D0D0 2px;
    font-size: 16px;
    padding: 5px;
}

#twit-container {
    list-style-type: none;
}

#twit-container li {
    border-radius: 30px / 30px;
    background-color: #b0b0b0;
    padding: 10px;
}
